body
{
	background-image:url(background_img.jpg);
}

.details input
{
	padding:10px 0;
	margin-bottom:30px;
	align:center;
	

}
.details input
{
	width:100%;
	
}
::placeholder
{
	color:black;
}
.details input[type="text"],input[type="password"],input[type="date"],input[type="number"]
{
	border:none;
	border-bottom:2px solid black;
	background:transparent;
	outline:none;
	height:40px;
	font-size:16px;
	color:black;
	
}
.details input[type="button"],.details input[type="reset"],.details input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
.details input[type="submit"]:hover,.details input[type="reset"]:hover,.details input[type="button"]:hover
{
	cursor:pointer;
	color:#000;
	background:#ffc107;
}
#options a,header
{
				display:block;
				color:white;
				line-height:65px;
				font-size:19px;
				padding-left:40px;
				box-sizing:border-box;
				border-top:1px solid rgba(255,255,255,.1);
				border-bottom:1px solid black;

}
#options
{	position:fixed;
				width:250px;
				height:100%;
				background-color:#000080;
				
}
		